@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap"); */

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 0, 0);
  /* background: linear-gradient(
      214deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(42, 9, 9, 1) 42%,
      rgba(66, 0, 0, 1) 74%
    )
    fixed; */
  /* background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(15, 13, 13)),
      to(#855ef0)
    )
    fixed; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-font {
  font-family: "Poppins", sans-serif;
}

/* slide left */
.fade-enter {
  opacity: 0;
  transform: translateX(1%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms ease-in-out;
}

.fade-exit {
  opacity: 0;
  transform: translateX(0%);
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease-in-out;
}

.fade-exit-done {
  display: none;
}

/* slide right  */
.fade-enter-opp {
  opacity: 0;
  transform: translateX(-1%);
}

.fade-enter-active-opp {
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms ease-in-out;
}

.fade-exit-opp {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit-active-opp {
  opacity: 0;
  transform: translateX(100%);
  transition: all 500ms ease-in-out;
}

.fade-exit-done {
  display: none;
}

/* scroll to top button */
.visible {
  transition: all 0.5s ease-in-out;
}

.nonVisible {
  transition: all 0.5s ease-in-out;
}
